{
    "presets": [
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "entry",
          "targets": {
              "ie": 11
          },
          "corejs": 2
        }
      ]
    ]
}
